VUE_APP_NAME=Blog Admin

VUE_APP_API_PROTOCOL=http
VUE_APP_API_HOST=localhost
VUE_APP_API_PORT=3925
VUE_APP_API_PREFIX=/api
VUE_APP_API_BASE_URL=${VUE_APP_API_PROTOCOL}://${VUE_APP_API_HOST}:${VUE_APP_API_PORT}${VUE_APP_API_PREFIX}

VUE_APP_DEV_SERVER_HOST=0.0.0.0
VUE_APP_DEV_SERVER_PORT=8080
VUE_APP_DEV_SERVER_SOCK_HOST=localhost
VUE_APP_DEV_SERVER_SOCK_PORT=8080
